.container
  .tile.event-details.u-margin-top-lg
    .tile-content.full-width.flex-container.flex-column.justify-center.align-center
      = image_tag "/images/events/event-date-icon.svg", class: "tile-icon-medium", alt: "GitLab Contribute date icon svg"
      %h4 Feb 8-12, 2021
    .tile-content.full-width.flex-container.flex-column.justify-center.align-center
      = image_tag "/images/events/event-location-icon.svg", class: "tile-icon-medium", alt: "#GitLab Contribute location icon svg"
      %h4 Denver, CO USA
