Points of weight delivered by the team on the last three milestones, including
rolling average. This allows for more accurate estimation of what we can deliver
in future milestones. Full chart [here](https://app.periscopedata.com/app/gitlab/587512/Plan-stage-capacity-planning).

<% chart_ids ||= [7693808, 7693825, 7693879] %>
<% chart_ids.each do |chart_id| %>
  <embed width="<%= 99 / chart_ids.size.to_f %>%" height="300" src="<%= signed_periscope_url(dashboard: 587512, chart: chart_id, embed: 'v2', filters: [{name: 'Milestones', value: [13.0, 13.1, 13.2]}]) %>">
<% end %>
