- url = full_url(current_page)
- author ||= false
- tweet_text = author ? "“#{text}”" : text
- twitter_link_text = author ? "“#{text}” – @#{author}" : text
- twitter_link = "http://twitter.com/share?text=#{URI.encode(twitter_link_text)}&url=#{url}"


.panel.panel-default.twitter-block
  %a.twitter-block-link.panel-body{ href: twitter_link, title: 'Tweet!', target: '_blank', rel: 'nofollow'}
    %span.twitter-text.pull-left
      #{tweet_text}
      - if author
        via @#{author}

    %span.click-to-tweet
      Click to tweet!
      %i.fab.fa-twitter
