// sass-lint:disable no-mergeable-selectors

@import "../vendor/bourbon/bourbon";

.in-page-nav-placeholder {
  position: fixed;

  .body--has-in-page-nav-stuck & {
    position: static;
  }
}

.in-page-nav {
  .body--has-in-page-nav-stuck & {
    position: fixed;
    top: 58px;
    width: 100%;
    margin: 0 auto 80px auto;
    z-index: 5;

    //@media (min-width: $screen-sm-min) {
    //  max-width: $container-sm - 30px;
    //}
    //
    //@media (min-width: $screen-md-min) {
    //  max-width: $container-md - 30px;
    //}
    //
    //@media (min-width: $screen-lg-min) {
    //  max-width: $container-lg;
    //}

    &::before {
      @extend %u-release;
      @include position(absolute, 0);
      background-color: #548;
      content: "";
    }
  }

  ul {
    position: relative;
    display: flex;
    margin-bottom: 50px;
    justify-content: space-around;
    z-index: 5;
  }

  li {
    flex: 1 1 auto;
    border-bottom: 2px solid transparent;

    &.is-active {
      border-color: $point-title-color;
    }

  }

  .body--has-in-page-nav-stuck & {

    ul {
      margin-bottom:0px;
    }

    li {

      &.is-active {
        border-color: $color-white;
      }

    }

  }

  a {
    text-transform: capitalize;
    display: block;
    padding-top: 14px;
    padding-bottom: 12px;
    color: $point-title-color;
    text-align: center;

    img {
      width: 16px;
      vertical-align: baseline;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 15px;
    }

    .body--has-in-page-nav-stuck & {
      color: $color-white;

      img {
        filter: invert(1);
      }

    }

  }

}

@media (min-width: $screen-md-min) {
  .in-page-nav a img {
    width:12px;
  }
}

.in-page-nav a img {
  width:14px;
}

.in-page-nav-placeholder,
.in-page-nav {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}
