.container.sdlc-bg-image
  %h2.text-center.u-padding-bottom-sm.u-padding-top-lg Discover a more streamlined way to work
  .sdlc-container.position-relative
    .table-container
      %p.table-label.single-application-label GitLab is a complete DevOps platform, delivered as a single application.
      %p.table-label.separate-application-label Compare to
      .sdlc-table
        - Gitlab::Homepage::Stage.all!.select{|stage| stage.marketing}.each do |stage|
          .sdlc-column
            .stage-container
              %a{href: "/stages-devops-lifecycle/#{stage.key}/"}
                = partial "/includes/icons/sdlc-icons/#{stage.key}.svg"
              %a{href: "/stages-devops-lifecycle/#{stage.key}/"}
                %p #{stage.display_name}
            .solutions-container
              - active_categories = stage.categories.select { |c| c.marketing && c.maturity && c.maturity != "planned"}
              - upcoming_categories = stage.categories.select { |c| c.marketing && c.maturity && c.maturity == "planned"}
              - if active_categories.length >= 1
                .current-categories
                  - active_categories.each do |category|
                    %p
                      - url = category.best_link
                      %a{ href: "#{url}" } #{category.name}
              - if upcoming_categories.length >= 1
                .future-categories
                  - upcoming_categories.each do |category|
                    %p
                      - url = category.best_link
                      %a.future-category{ href: "#{url}", target: "_blank" } #{category.name}
            .devops-tools-wrapper{ id: "#{stage.key}-devops_tools-container" }
              %p.replace-text.font-bold Functionally similar to
              .devops-tools-container
                - stage.devops_tools.each do |devops_tool|
                  %a.devops-tool-logo-container{ href: "/devops-tools/#{devops_tool.key.dup.tr('_', '-')}-vs-gitlab/" }
                    .devops-tool-tooltip
                      %p.tooltip-text
                        = devops_tool.name
                      .tooltip-carat
                    = image_tag "#{devops_tool.logo}", class: "devops-tool-logo", alt: "#{devops_tool.name} logo png" , loading: 'lazy'
    .container.u-margin-bottom-xl.u-margin-top-sm
      .btn-group
        %a.see-all-comparisons{ href: '/devops-tools/', style: 'text-decoration: underline; color: #000' } Compare all DevOps tools


%script{ src: "/javascripts/rotate-devops_tools.js" }
%script{ src: "/javascripts/libs/tweenmax.min.js" }

:css
  .sdlc-container .sdlc-table .solutions-container {
    justify-content: flex-start;
  }
