---
layout: handbook-page-toc
title: Marketing Performance Indicators
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Coming in FY22: New Marketing KPIs

In Q4, we will be working through deprecating many (but not all) of the marketing KPIs below in order to move to new KPIs that we believe better map to what teams can actually impact. Here are the new KPIs, and the next step is to work with the data team to update this page.

![Quick Snapshot of New FY22 Marketing Metrics](source/images/Screen Shot 2020-11-16 at 2.38.45 PM.png)

[Here is a link](https://docs.google.com/presentation/d/1_c9KutjGaIL9iUtnYAuF82D7pl2yL2RTUhkN_0N7FIE/edit?usp=sharing) to a GitLab confidential Marketing Key Meeting deck as an example of how these KPIs will be tracked monthly.

<%= performance_indicators('Marketing') %>
  
